body {
    background-color: black;
    font-family: arial;
    color: white;
}

.maindiv {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
    color: black;
    background-color: white;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 12px;
}

h1 {
    color: gray;
    font-family: Verdana;
}

footer {
    margin-top: 24px;
    text-align: center;
}